@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
html,
body {
    background-color: #ffffff;
    font-family: "Ubuntu Condensed";
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d2d2d8;
    display: grid;
    grid-template-columns: 150px auto;
}

footer {
    background-color: #d2d2d8;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    text-decoration: none;
    font-size: 18px;
    color: #177c9c;
}

footer a:hover {
    color: #013a63;
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

nav {
    background-color: #ededf0;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

nav a {
    padding: 35px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    color: #177c9c;
    margin: 0;
}


nav a:hover {
    background-color: #d2d2d8;
    color: #013a63;
}

.select{
    padding: 35px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    margin: 0;
    background-color: #d2d2d8;
    color: #013a63;
}

h2 {
    margin: 0;
}

main section img {
    box-sizing: border-box;
}

.logo,
.icon {
    width: 80px;
}

.icon {
    padding-top: 10px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr)
}

.home-title {
    font-size: 2em;
    margin-top: 10px;
    color: #fff;
}

.book,
.join {
    padding: 15px 30px;
    margin-top: 50px;
    text-decoration: none;
    font-size: 18px;
    color: #177c9c;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    color: #013a63;
}

.card-img,
.mountains {
    width: 100%;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img {
    border: 10px solid #012a4a;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}

.social {
    padding-top: 15px;
}

.msg {
    background-color: #ededf0;
    color: #0d0f10;
    padding: 35px;
    line-height: 1.5em;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}

#hero-img {
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h4 {
    color: white;
}

#hero-msg h1,
#hero-msg h4 .button-box,
main section {
    text-align: center;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#background {
    background-color: #ededf0;
    color: #0d0f10;
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.articles{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.articles .article:nth-of-type(2n+1) {
    background-color: #dfdede;
  }

.article{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.article h2{
    margin-top: 10px;
}

.article img{
    width: 250px;
    padding-right: 20px;
}

@media screen and (max-width: 900px) {
    #hero,
    .home-grid {
        display: block;
        height: auto;
    }
    nav,
    footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card,
    .camping-card,
    .rapids-card {
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains,
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}