@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
html,
body {
    background-color: #ffffff;
    font-family: "Ubuntu Condensed";
    height: 100%;
    margin: 0;
    padding: 0;
}

footer,
header {
    background-color: #d2d2d8;
}

footer {
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    text-decoration: none;
    font-size: 18px;
    color: #177c9c;
}

footer a:hover {
    color: #013a63;
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

nav {
    background-color: #ededf0;
}

nav a {
    padding: 35px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    color: #177c9c;
    margin: 0;
}

nav a:hover {
    padding: 0px 35px;
    background-color: #d2d2d8;
    color: #013a63;
}

h2 {
    margin: 0;
}

main section img {
    box-sizing: border-box;
}

.logo,
.icon {
    width: 80px;
}

.icon {
    padding-top: 10px;
}

.home-title {
    font-size: 2em;
    margin-top: 10px;
}

.book,
.join {
    padding: 15px 30px;
    margin-top: 50px;
    text-decoration: none;
    font-size: 18px;
    color: #177c9c;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    color: #013a63;
}

.card-img {
    border: 10px solid #012a4a;
}

.rivers-card,
.camping-card,
.rapids-card {
    margin: 200px 0;
}

.social {
    padding-top: 15px;
}

.msg {
    padding: 35px;
    line-height: 1.5em;
}

.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}

.msg,
#background {
    background-color: #ededf0;
    color: #0d0f10;
}

#hero-img {
    width: 100%;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-msg h1,
#hero-msg h4 .button-box,
main section {
    text-align: center;
}

#background {
    height: 725px;
}

#logo_link {
    padding-top: 5px;
}