@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    margin: 0
}

body {
    display: grid;
    grid-template-rows: 15% 80% 5%;
    color: #808080;
    font-family: 'Dejavu Sans', Arial, Verdana, sans-serif;
}

header,
footer,
aside {
    background-color: #282828;
}

header {
    display: flex;
    flex-direction: row;
}

footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer h3 {
    text-align: center;
    margin-top: 10px;
}

footer .down {
    margin-left: 15px;
}

hr {
    width: 100%;
    border-right: none;
    border-color: #808080;
}

main {
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.principal {
    display: flex;
    flex-direction: row;
}

.principal img {
    padding: 5px;
    width: 40%;
}

.principal .text {
    padding: 5px;
    width: 60%;
}

.secondary {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.article {
    padding: 0 20px;
}

.article iframe {
    width: 100%;
    height: 15em;
}

.navigation {
    display: grid;
    grid-template-rows: 50% 15% 35%;
    width: 100%;
    padding-right: 100px;
    padding-left: 80px;
}

.up {
    margin-top: auto;
    margin-bottom: auto;
}

.down {
    margin-top: 5px;
}

.up a {
    float: right;
    color: #808080;
    font-weight: 100;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
    font-size: 1.2em;
}

.down a {
    float: left;
    color: #808080;
    font-weight: 100;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
    font-size: 1em;
}

.select {
    color: #ffffff !important;
}

.logo img {
    width: 120px;
    padding: 10px;
}

.search input[type=text] {
    background-color: #282828;
    width: 300px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid #808080;
}

.search {
    float: right;
    margin: 7px;
}

.search :placeholder-shown {
    color: #282828;
}

.search button {
    background-color: #282828;
    color: #808080;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.search button:hover {
    color: #ffffff;
}

.container-menu {
    float: left;
    max-width: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 300ms;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.container2 {
    max-width: 50px;
    width: 100%;
    height: 100%;
}

.container-open {
    max-width: 220px !important;
    display: flex;
    flex-direction: row-reverse;
    background: #282828;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 20px;
    background: #282828;
    height: 100%;
}

.toggle-check {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.item {
    display: block;
    color: #808080;
    font-weight: 100;
    text-decoration: none;
    margin-bottom: 20px;
    position: relative;
    transform: translateX(-30px);
    opacity: 0;
    transition: all 300ms;
    font-size: 1.2em;
}

.item:before {
    content: '';
    position: absolute;
    left: -20px;
    width: 0px;
    height: 100%;
    background: #468faf;
    transition: all 300ms;
}

.item:hover:before {
    width: 6px;
}

.toggle {
    display: inline-block;
    margin: 10px;
    padding: 12px 16px;
    font-weight: 600;
    background: #468faf;
    color: #fff;
    cursor: pointer;
    transition: opacity 300ms;
}

.toggle:hover {
    opacity: 0.8;
}

.container-menu-open {
    max-width: 220px !important;
}

.item-open {
    opacity: 1;
    transition-delay: 200ms;
    transform: translateX(0) !important;
}

.bar1-open {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: #fff;
}

.bar2-open {
    opacity: 0;
}

.bar3-open {
    background-color: #fff;
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.item:hover,
.up a:hover,
.down a:hover {
    color: #468faf;
}